@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; 
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px; 
    background-color: #000; 
    height: 80px; 
}

.logo img {
    height: 100px; 
    display: block;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px; 
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700; 
    letter-spacing: 1px; 
    transition: color 0.3s;
}


.nav-links a:hover {
    color: #ff3e3e; 
}